version: '3'

services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      SQLALCHEMY_DATABASE_URI: "postgresql://postgres:password@db:5432/labs"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: lab3db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: